extends layout

block content
  .container
    include partial/topbar
    .row 
      .columns.medium-9.small-12
        h2 New Feeds
        hr
        for blog in data
          ul.posts
            for post in blog.posts
              li
                .post
                  .head
                    h4
                      a(href=post.link, target='_blank').title=post.title
                    .info.clearfix
                      span.pubDate=post.pubDate
                      span.author.right
                        | Author 
                        a(href='')=post.author
                  .content
                    !{post.summary}

      .columns.medium-3.small-12
        h2 Sites
        for blog in data
          ul
            li
              a(href=blog.meta.link, target='_blank')=blog.meta.title


      

